.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
   width: 273px;
   padding: 1%; 
}
nav {
    width: 73%;
    padding: 1%;
}
.navigation { 
    width: 5%;
    margin-left: auto;
}